.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #1e1e1e; 
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #3a3a3a;
}

.editor-section {
  flex: 3;
  min-height: 70%;
}

.output-section {
  border: 1px solid #3a3a3a;
  padding: 0.4rem 0.4rem 0.2rem;
  background: #252526;
  color: #d4d4d4;
  position: relative;
  min-height: 30%;
  max-height: 10vh;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
}

.output-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.output-section pre {
  margin: 0;
  padding: 0.5rem 0;
  white-space: pre-wrap;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
  max-height: 100%; 
}

.output-section pre::-webkit-scrollbar {
  width: 6px;
}
.output-section pre::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 3px;
}

.output-title {
  font-family: 'Jura', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  display: inline-block; 
  padding-bottom: 2px; 
  margin-top: 2px; 
  margin-bottom: 0px; 
  margin-left: 2px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.run-button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  padding: 0.3rem 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
  font-size: 13px;
  transition: background 0.2s;
}

.run-button:hover {
  background: #1177bb;
}

.run-button:disabled {
  background: #555;
  cursor: not-allowed;
}

.run-button img {
  height: 14px;
  width: 14px;
}

.output-content {
  white-space: pre-wrap;
  font-family: monospace;
  padding: 12px;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
}