.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #1e1e1e; 
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #3a3a3a;
}

.editor-section {
  flex: 3;
  min-height: 82%;
}

.output-section {
  border: 1px solid #3a3a3a;
  padding: 0.4rem 0.4rem 0.2rem;
  background: #252526;
  color: #d4d4d4;
  position: relative;
  min-height: 18%;
  max-height: 10vh;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
}

.output-section pre {
  margin: 0;
  padding: 0.5rem 0;
  white-space: pre-wrap;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
  max-height: 100%; 
}

.output-section pre::-webkit-scrollbar {
  width: 6px;
}
.output-section pre::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 3px;
}

.output-title {
  font-family: 'Jura', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  display: inline-block; 
  padding-bottom: 2px; 
  margin-top: 2px; 
  margin-bottom: 0px; 
  margin-left: 2px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.editor-title {
  color: #333;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}


